* {
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

.bg-img {
    background-image: url(img/feni.jpg);
    background-image: url(img/zee.jpg);
    background-image: url(img/marsha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: right; 
    transition: 200ms opacity e;
}

